<div class="row" id="property-list-outer">
    <!-- 1 -->
    <div class="col-md-4 property-list-inner">
      <div class="title"><img src="assets/images/paying-guest.png" style="width:28px">&nbsp;PAYING GUEST</div>
      <img src="assets/images/paying-guest.jpg"/>
      <div class="information-box">

        <div class="pro-name">
          Kalpataru Apartments
        </div>
        
        <div class="pro-details">

          <div> 
             <span class="fa fa-map-marker"></span>
             Mumbai
          </div>
          
          <div class="other">
            2 BHK, 2 Bathrooms, 1st Floor
          </div>
          
          <div class="other">
            4 Members Sharing 
          </div>
          
          <div class="pro-price">
            <span class="fa fa-rupee"> 20,000 </span>
          </div>
        
        </div>

      </div>

    </div>
    <!-- 1 -->


       <!-- 2 -->
    <div class="col-md-4 property-list-inner">
      <div class="title"><img src="assets/images/properties.png" style="width:28px">&nbsp;HOT PROPERTIES</div>
      <img src="assets/images/new-projects.jpg"/>
      <div class="information-box">
        <div class="pro-name">
          Kalpataru Apartments
        </div>
        <div class="pro-details">
          <div> 
             <span class="fa fa-map-marker"></span>
             Mumbai
          </div>
          <div class="other">
            2 BHK, 2 Bathrooms,  1st Floor
          </div>
          <div class="other">
            1000 SQ FT
          </div>
          <div class="pro-price">
            <span class="fa fa-rupee"> 20,000 </span>
          </div>
        </div>
      </div>
    </div>
    <!-- 2 -->

     <!-- 3 -->

    <div class="col-md-4 property-list-inner">
      <div class="title"><img src="assets/images/new-project.png" style="width:28px">&nbsp;NEW PROJECTS</div>
      <img src="assets/images/rentandsale.jpg">
      <div class="information-box">
        <div class="pro-name">
          Kalpataru Apartments
        </div>
        <div class="pro-details">
          <div> 
             <span class="fa fa-map-marker"></span>
             Mumbai
          </div>
          <div class="other">
            2 BHK 2 Bathrooms  1st Floor
          </div>
          <div class="other">
            1000 SQ FT 
          </div>
          <div class="pro-price">
            <span class="fa fa-rupee"> 20,000 </span>
          </div>
        </div>
      </div>
    </div>
    <!-- 3 -->         
    </div>