.filter-box{
    float: left;
    width: 100%;
    border: 1px solid #Efefef;
    margin: 0 10px;
    padding: 10px 15px;
}

.filter-box .group{
    margin-bottom: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid #efefef;
    float: left;
    width: 100%;
}

.filter-box .group:last-child{
    border:none !important;
}

.filter-box .group .form-inline{
    float: left;
    display: block ;
    width:   100%;
}

