<div class="row">
  <div class="col-md-3 filter-section">
    <app-filer-box></app-filer-box>
  </div>
  <div class="col-md-9 pro-list-0section">
        <div class="pro-row row">
            <div class="pro-image col-md-2">
              <img src="assets/images/sample/property.jpeg">
            </div>
            <div class="col-md-10 pro-right">
                <div class="pro-title">
                  KALPATARU APARTMENTS
                </div>
                <div class="pro-sub-title">
                    2 BHK Residential Apartment in Sion West
                </div>

                <div class="row pro-details">

                  <div class="col-md-3">
                    <div class="pro-price">
                        <i class="fa fa-rupee">&nbsp;</i>1,10,0000
                    </div>
                  </div>

                  <div class="col-md-3">
                      <div class="pro-">
                          <i class="">&nbsp;</i>1000 SQ.FT
                      </div>
                  </div>

                  <div class="col-md-3">
                      <div class="pro-">
                          <i class="">&nbsp;</i>2 BHK
                      </div>
                  </div>

                  <div class="col-md-3">
                      <div class="pro-">
                          <i class="">&nbsp;</i> JULY 2019 POCESSION
                      </div>
                  </div>
                  <div>&nbsp;</div>
                  <div class="col-md-12">
                      <p>
                        Project spread along 100 acres, with all the neccesary amenitied adn too in the center of Mumbai......
                      </p>
                  </div>

                </div>
            </div>
        </div>

        <div class="pro-row row">
            <div class="pro-image col-md-2">
              <img src="assets/images/sample/property.jpeg">
            </div>
            <div class="col-md-10 pro-right">
                <div class="pro-title">
                  KALPATARU APARTMENTS
                </div>
                <div class="pro-sub-title">
                    2 BHK Residential Apartment in Sion West
                </div>

                <div class="row pro-details">

                  <div class="col-md-3">
                    <div class="pro-price">
                        <i class="fa fa-rupee">&nbsp;</i>1,10,0000
                    </div>
                  </div>

                  <div class="col-md-3">
                      <div class="pro-">
                          <i class="">&nbsp;</i>1000 SQ.FT
                      </div>
                  </div>

                  <div class="col-md-3">
                      <div class="pro-">
                          <i class="">&nbsp;</i>2 BHK
                      </div>
                  </div>

                  <div class="col-md-3">
                      <div class="pro-">
                          <i class="">&nbsp;</i> JULY 2019 POCESSION
                      </div>
                  </div>
                  <div>&nbsp;</div>
                  <div class="col-md-12">
                      <p>
                        Project spread along 100 acres, with all the neccesary amenitied adn too in the center of Mumbai......
                      </p>
                  </div>

                </div>
            </div>
        </div>

        <div class="pro-row row">
            <div class="pro-image col-md-2">
              <img src="assets/images/sample/property.jpeg">
            </div>
            <div class="col-md-10 pro-right">
                <div class="pro-title">
                  KALPATARU APARTMENTS
                </div>
                <div class="pro-sub-title">
                    2 BHK Residential Apartment in Sion West
                </div>

                <div class="row pro-details">

                  <div class="col-md-3">
                    <div class="pro-price">
                        <i class="fa fa-rupee">&nbsp;</i>1,10,0000
                    </div>
                  </div>

                  <div class="col-md-3">
                      <div class="pro-">
                          <i class="">&nbsp;</i>1000 SQ.FT
                      </div>
                  </div>

                  <div class="col-md-3">
                      <div class="pro-">
                          <i class="">&nbsp;</i>2 BHK
                      </div>
                  </div>

                  <div class="col-md-3">
                      <div class="pro-">
                          <i class="">&nbsp;</i> JULY 2019 POCESSION
                      </div>
                  </div>
                  <div>&nbsp;</div>
                  <div class="col-md-12">
                      <p>
                        Project spread along 100 acres, with all the neccesary amenitied adn too in the center of Mumbai......
                      </p>
                  </div>

                </div>
            </div>
        </div>
        <div class="pro-row row">
            <div class="pro-image col-md-2">
              <img src="assets/images/sample/property.jpeg">
            </div>
            <div class="col-md-10 pro-right">
                <div class="pro-title">
                  KALPATARU APARTMENTS
                </div>
                <div class="pro-sub-title">
                    2 BHK Residential Apartment in Sion West
                </div>

                <div class="row pro-details">

                  <div class="col-md-3">
                    <div class="pro-price">
                        <i class="fa fa-rupee">&nbsp;</i>1,10,0000
                    </div>
                  </div>

                  <div class="col-md-3">
                      <div class="pro-">
                          <i class="">&nbsp;</i>1000 SQ.FT
                      </div>
                  </div>

                  <div class="col-md-3">
                      <div class="pro-">
                          <i class="">&nbsp;</i>2 BHK
                      </div>
                  </div>

                  <div class="col-md-3">
                      <div class="pro-">
                          <i class="">&nbsp;</i> JULY 2019 POCESSION
                      </div>
                  </div>
                  <div>&nbsp;</div>
                  <div class="col-md-12">
                      <p>
                        Project spread along 100 acres, with all the neccesary amenitied adn too in the center of Mumbai......
                      </p>
                  </div>

                </div>
            </div>
        </div>

      </div>   
</div>