<!-- Navigation menu starts -->
    <div class="container-fluid nav-container">
      <nav class="navbar navbar-default">
         <div class="nav-holder">
           <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">Paying Guest</a></li>
              <li><a href="#">Buy</a></li>
              <li><a href="#">Sell</a></li>
              <li><a href="#">New Projects</a></li>
              <li><a href="#">CUSTOMER SERVICE</a></li>
            </ul>
        </div>
      </nav>
    </div>
    <!-- Navigation menu ends -->
    <div class="container-fluid" id="main" style="">
      <!-- Header Div -->
      <div class="row" id="header" style="">
        <div class="col-md-5 logo">
          <img src="assets/images/logo.jpg">
        </div>
        <div class="col-md-4">
          <img src="assets/images/facebook.jpg">
          <img src="assets/images/twitter.jpg">
          <img src="assets/images/google-plus.jpg">
          <img src="assets/images/in.jpg">
        </div>
        <div class="col-md-3 sign">
          <img src="assets/images/signup.jpg" class="sign-in">
          <img src="assets/images/login.jpg" class="sign-up">
        </div>
      </div>
      <!-- Header Ends -->

      <!-- Main Content -->
      <router-outlet>
      <div class="row" id="content">
          <div class="col-md-12">
                <div id="search-box-holder">
                  <div class="heading">
                    INDIA'S FIRST PAYING GUEST SPEACLIZED PROPERTY SEARCH
                  </div>
                  <div class="quick-search-box">
                  <form>
                      <div class="icon">
                        <img src="assets/images/location-popup.png">
                      </div>
                      <div class="input-box">
                        <input type="text" class="form-control" placeholder="Location, Property name">
                      </div>
                 </form>
                 </div>
              </div>
              <div class="slider">
                <img src="assets/images/slide01.jpg">
              </div>
             <div class="clear">&nbsp;</div>
            <!-- Property Listing -->

            <div class="row" id="property-list-outer">
            <!-- 1 -->
            <div class="col-md-4 property-list-inner">
              <div class="title"><img src="assets/images/paying-guest.png" style="width:28px">&nbsp;PAYING GUEST</div>
              <img src="assets/images/paying-guest.jpg"/>
              <div class="information-box">

                <div class="pro-name">
                  Kalpataru Apartments
                </div>
                
                <div class="pro-details">

                  <div> 
                     <span class="fa fa-map-marker"></span>
                     Mumbai
                  </div>
                  
                  <div class="other">
                    2 BHK, 2 Bathrooms, 1st Floor
                  </div>
                  
                  <div class="other">
                    4 Members Sharing 
                  </div>
                  
                  <div class="pro-price">
                    <span class="fa fa-rupee"> 20,000 </span>
                  </div>
                
                </div>

              </div>

            </div>
            <!-- 1 -->


               <!-- 2 -->
            <div class="col-md-4 property-list-inner">
              <div class="title"><img src="assets/images/properties.png" style="width:28px">&nbsp;HOT PROPERTIES</div>
              <img src="assets/images/new-projects.jpg"/>
              <div class="information-box">
                <div class="pro-name">
                  Kalpataru Apartments
                </div>
                <div class="pro-details">
                  <div> 
                     <span class="fa fa-map-marker"></span>
                     Mumbai
                  </div>
                  <div class="other">
                    2 BHK, 2 Bathrooms,  1st Floor
                  </div>
                  <div class="other">
                    1000 SQ FT
                  </div>
                  <div class="pro-price">
                    <span class="fa fa-rupee"> 20,000 </span>
                  </div>
                </div>
              </div>
            </div>
            <!-- 2 -->

             <!-- 3 -->

            <div class="col-md-4 property-list-inner">
              <div class="title"><img src="assets/images/new-project.png" style="width:28px">&nbsp;NEW PROJECTS</div>
              <img src="assets/images/rentandsale.jpg">
              <div class="information-box">
                <div class="pro-name">
                  Kalpataru Apartments
                </div>
                <div class="pro-details">
                  <div> 
                     <span class="fa fa-map-marker"></span>
                     Mumbai
                  </div>
                  <div class="other">
                    2 BHK 2 Bathrooms  1st Floor
                  </div>
                  <div class="other">
                    1000 SQ FT 
                  </div>
                  <div class="pro-price">
                    <span class="fa fa-rupee"> 20,000 </span>
                  </div>
                </div>
              </div>
            </div>
            <!-- 3 -->         
            </div>

          </div>
      </div>
      <!-- Main Content ends -->
       </router-outlet>
    </div>