<div id="search-box-holder">
    <div class="heading">
      INDIA'S FIRST PAYING GUEST SPEACLIZED PROPERTY SEARCH
    </div>
    <div class="quick-search-box">
    <form>
        <div class="icon">
          <img src="assets/images/location-popup.png">
        </div>
        <div class="input-box">
          <input type="text" class="form-control" placeholder="Location, Property name">
        </div>
   </form>
   </div>
</div>
<div class="slider">
  <img src="assets/images/slide01.jpg">
</div>
<div class="clear">&nbsp;</div>