<div class="container-fluid nav-container">
  <nav class="navbar navbar-default">
     <div class="nav-holder">
        <div class="pull-left logo">
            <img src="assets/images/logo.jpg">
          </div>
       <ul class="nav navbar-nav">
          <!--li class="active"><a href="#">Home</a></li-->
          <li><a href="#">Paying Guest</a></li>
          <li><a href="#">Buy</a></li>
          <li><a href="#">Sell</a></li>
          <li><a href="#">Rent</a></li>
          <li><i class="fa fa-bars">&nbsp;</i></li>
          <!--li><a href="#">New Projects</a></li>
          <li><a href="#">CUSTOMER SERVICE</a></li-->
        </ul>
    </div>
  </nav>
</div>