<router-outlet>
<!-- Header Div -->
<div class="row" id="header" style="">
  <div class="col-md-5 logo">
    <img src="assets/images/logo.jpg">
  </div>
  <div class="col-md-4">
    <img src="assets/images/facebook.jpg">
    <img src="assets/images/twitter.jpg">
    <img src="assets/images/google-plus.jpg">
    <img src="assets/images/in.jpg">
  </div>
  <div class="col-md-3 sign">
    <a href="javascript:void(0)">
      <img src="assets/images/signup.jpg" class="sign-in">
    </a>
    <a href="javascript:void(0)" (click)="signin()"> 
      <img src="assets/images/login.jpg" class="sign-up">
    </a>
  </div>
</div>
<!-- Header Ends -->
</router-outlet>